/* Fonts */
@font-face {
  font-family: Asap;
  font-weight: 400;
  src: url(./fonts/Asap-Regular.ttf);
}
@font-face {
  font-family: Asap;
  font-weight: 400;
  font-style: italic;
  src: url(./fonts/Asap-RegularItalic.ttf);
}
@font-face {
  font-family: Asap;
  font-weight: 500;
  src: url(./fonts/Asap-Medium.ttf);
}
@font-face {
  font-family: Asap;
  font-weight: 500;
  font-style: italic;
  src: url(./fonts/Asap-MediumItalic.ttf);
}
@font-face {
  font-family: Asap;
  font-weight: 600;
  src: url(./fonts/Asap-SemiBold.ttf);
}
@font-face {
  font-family: Asap;
  font-weight: 600;
  font-style: italic;
  src: url(./fonts/Asap-SemiBoldItalic.ttf);
}
@font-face {
  font-family: Asap;
  font-weight: 700;
  src: url(./fonts/Asap-Bold.ttf);
}
@font-face {
  font-family: Asap;
  font-weight: 700;
  font-style: italic;
  src: url(./fonts/Asap-BoldItalic.ttf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 100;
  src: url(./fonts/Gilroy-Thin.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 100;
  font-style: italic;
  src: url(./fonts/Gilroy-ThinItalic.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 200;
  src: url(./fonts/Gilroy-UltraLight.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 200;
  font-style: italic;
  src: url(./fonts/Gilroy-UltraLightItalic.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 300;
  src: url(./fonts/Gilroy-Light.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 300;
  font-style: italic;
  src: url(./fonts/Gilroy-LightItalic.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 400;
  src: url(./fonts/Gilroy-Regular.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 400;
  font-style: italic;
  src: url(./fonts/Gilroy-RegularItalic.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 500;
  src: url(./fonts/Gilroy-Medium.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 500;
  font-style: italic;
  src: url(./fonts/Gilroy-MediumItalic.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 550;
  src: url(./fonts/Gilroy-Semibold.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 550;
  font-style: italic;
  src: url(./fonts/Gilroy-SemiboldItalic.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 600;
  src: url(./fonts/Gilroy-Bold.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 600;
  font-style: italic;
  src: url(./fonts/Gilroy-BoldItalic.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 700;
  src: url(./fonts/Gilroy-Extrabold.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 700;
  font-style: italic;
  src: url(./fonts/Gilroy-ExtraboldItalic.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 800;
  src: url(./fonts/Gilroy-Black.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 800;
  font-style: italic;
  src: url(./fonts/Gilroy-BlackItalic.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 900;
  src: url(./fonts/Gilroy-Heavy.otf);
}
@font-face {
  font-family: Gilroy;
  font-weight: 900;
  font-style: italic;
  src: url(./fonts/Gilroy-HeavyItalic.otf);
}